.root {
  display: none;
}
.active {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;

  .popupInterface {
    background: #fff;
    height: 460px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .searchContainer {
      width: 86%;
      height: 55px;
      display: flex;
      flex-direction: row;
      background: #ffffff;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
      margin: 93px auto 0;
      border-radius: 16px;

      .locationBlock {
        width: 34%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #f2f2f2;
        &:hover {
          cursor: pointer;
          background: #fafafa;
          border-radius: 16px;
        }
        .locationInnerBlockTitle {
          font-style: normal;
          font-weight: 800;
          font-size: 9px;
          line-height: 11px;
          text-transform: uppercase;
          padding-top: 12px;
          padding-left: 27px;
          padding-bottom: 4px;
        }
        .locationInnerBlock {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: #333333;
          padding-left: 26px;
        }

        &_active {
          border: 1px solid #333333;
          filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
          border-radius: 16px;
        }
      }
      .guestsBlock {
        width: 45%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #f2f2f2;
        &:hover {
          cursor: pointer;
          background: #fafafa;
        }
        &_active {
          border: 1px solid #333333;
          border-radius: 16px;
        }

        .guestsInnerBlockTitle {
          font-style: normal;
          font-weight: 800;
          font-size: 9px;
          line-height: 11px;
          text-transform: uppercase;
          color: #333333;
          padding-top: 12px;
          padding-left: 32px;
          padding-bottom: 4px;
        }
        .guestsInnerBlock {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          padding-left: 32px;
          color: #bdbdbd;
        }
      }
      .searchBlock {
        width: 21%;
        position: relative;
        margin: auto auto;

        .searchInnerBlock {
          background: #eb5757;
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
          border-radius: 16px;
          width: 127px;
          //height: 100%;
          height: 48px;
          color: #f2f2f2;
          display: flex;
          flex-direction: column;
          margin: auto;
          &:hover {
            cursor: pointer;
            background: #df4f4f;
          }

          .searchIcon {
            position: absolute;
            width: 22px;
            height: 22px;
            margin-left: 25px;
            margin-top: 13px;
          }

          span {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            margin-top: 15px;
            margin-left: 55px;
          }
        }
      }
    }
  }
}
.blankSpace {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -23;
}
