.main {
  width: 394px;
  height: 359px;

  @media screen and (max-width: 420px) {
    width: 80%;
    height: 10%;
  }
  @media screen and (max-width: 420px) {
    width: 75%;
    height: 10%;
  }

  .desc {
    display: flex;
    width: 380px;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 11px;
    justify-content: space-between;

    @media screen and (max-width: 420px) {
      width: 100%;
      justify-content: space-between;
    }
    @media screen and (max-width: 420px) {
      width: 100%;
      justify-content: space-between;
    }
    @media screen and (max-width: 300px) {
      justify-content: space-between;
    }
  }

  .superBlock {
    height: 28px;
    width: 100px;
    border: 1px solid #4f4f4f;
    border-radius: 12px;
    padding: 7px 9px 6px 10px;
    display: flex;
    flex-direction: row;
    margin-right: 11px;
    @media screen and (max-width: 450px) {
      margin-right: 15px;
      width: 26%;
    }

    .super {
      width: 100%;
      height: 28px;
      font-weight: 600;
      font-size: 11px;
      line-height: 15px;
      margin-top: 0;
      padding-bottom: 15px;
      margin-left: 3px;
      color: #4f4f4f;
      @media screen and (max-width: 420px) {
        font-size: 7.5px;
        padding-left: 7px;
      }
      @media screen and (max-width: 330px) {
        font-size: 5px;
      }
    }
  }

  .place {
    width: 200px;
    color: #828282;

    @media screen and (max-width: 450px) {
      width: 190px;
      font-size: 16px;
      text-overflow: ellipsis;
    }
    @media screen and (max-width: 430px) {
      width: 42.5% !important;
      font-size: 14px;
      text-overflow: ellipsis;
    }
    @media screen and (max-width: 330px) {
      font-size: 12px;
      width: 150px;
    }
  }
  .rating {
    @media screen and (max-width: 430px) {
      font-size: 13px;
      justify-self: right;
    }
  }
  .placeDesc {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;

    color: #333333;
  }
  img {
    border-radius: 24px;
  }

  p {
    margin: 0;
  }
}
