.dropdownLocationMenu {
  top: 190px;
  width: 29%;
  height: 28vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-y: auto;
  @media screen and (max-width: 840px) {
    height: 23vh;
  }
  @media screen and (max-width: 800px) {
    top: 120px;
    height: 38vh;
    right: 12vw;
    width: 70%;
  }
  @media (max-width: 800px) {
    top: 120px;
    height: 38vh;
    right: 12vw;
    width: 70%;
  }

  li {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    font-weight: 450;
    line-height: 18px;
    color: #4f4f4f;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 25px;
    &:hover {
      cursor: pointer;
      background: #f8f8f8;
    }
    @media screen and (max-width: 800px) {
      font-size: 13px;
    }
  }
  &Icon {
    left: 50px;
    font-size: 15px;
    color: #4f4f4f;
    margin-right: 3px;
  }
  &Hidden {
    display: none;
  }
}
