.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
}

.logo {
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 94px;
}
.search {
  background: #fff;
  flex-direction: row;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 300px;
  height: 60px;
  margin-top: 32px;
  margin-right: 96px;
}
