.root {
  display: flex;
  width: 300px;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  height: 100%;
  align-self: center;

  .locationBlock {
    width: 45%;
    padding: 21px 0 16px 1px;
    height: 100%;
    display: flex;
    justify-content: center;
    border-right: 1px solid #f2f2f2;
    &:hover {
      cursor: pointer;
      background: #fafafa;
      border-radius: 15px 0 0 15px;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    }

    .locationInnerBlock {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
    }
  }

  .guestsBlock {
    width: 109px;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #bdbdbd;
    font-size: 14px;

    &:hover {
      cursor: pointer;
      background: #fafafa;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .searchBlock {
    width: 18.5%;
    height: inherit;
    position: relative;
    border-left: 1px solid #f2f2f2;
    &:hover {
      background: #f2f2f2;
      border-radius: 0 15px 15px 0;
    }

    .searchIcon {
      position: absolute;
      color: #eb5757;
      font-size: 20px;
      top: 19px;
      right: 13px;
      width: 25px;
      height: 25px;

      &:hover {
        cursor: pointer;
        width: 26.5px;
        height: 26.5px;
        transition-duration: 300ms;
      }
    }
  }
}
