.dropdownGuestsMenu {
  position: absolute;
  top: 190px;
  left: 36.2%;
  width: 38.5%;
  height: 14.05vmax;

  @media screen and (max-width: 380px) {
    top: 140px;
  }

  h4 {
    font-size: 18px;
    font-weight: 550;
  }

  .subTitle {
    font-family: 'Mulish', sans-serif;
    color: #bdbdbd;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  .counterBlock {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 50px;
    user-select: none;
  }
  .counterOperand {
    font-size: 16px;
    color: #bdbdbd;
    font-weight: 550;
    width: 22px;
    height: 22px;
    border: 1.2px #828282 solid;
    border-radius: 6px;

    &:hover {
      cursor: pointer;
      background: #f3f3f3;
    }
    &Inactive {
      background: rgba(216, 216, 216, 0.41);
      color: rgb(172, 172, 172);
      &:hover {
        cursor: default;
      }
    }

    &Minus {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &Plus {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 2px;
    }
  }

  .counterNumber {
    margin-left: 10px;
    margin-right: 10px;
  }

  &Hidden {
    display: none;
  }
}
